/* Reset and base styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #EFEAE6;
    color: #333;
    line-height: 1.5;
}

/* Links */
a {
    text-decoration: none;
    color: #333;
    margin-right: 15px;
}

a:hover {
    color: #0077cc;
}