/* Class Cards Grid */
.class-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
}

.class-card {
    background-color: rgb(118, 114, 125);
    color: black;
    height: 100px;
    width: 250px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    transition: transform 0.2s, background-color 0.2s;
    cursor: pointer;
}

.class-card:hover {
    transform: scale(1.05);
    background-color: #005fa3;
}