body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
}

#login-container{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 500px;
    height: 400px;
    background-color: aquamarine;
}

#email-section{
    background-color: beige;
}

#email{
    border-radius: 20px;
    width: 200px;
    height: 30px;

    /* background-color: blueviolet; */
}

#password-section{
    background-color: beige;
}

#password{
    border-radius: 20px;
    width: 200px;
    height: 30px;

    /* background-color: blueviolet; */
}